In [102]:
import pandas as pd
import sqlite3
import shutil
from pathlib import Path

# Data Cleaning

In [103]:
file = Path('Resources/vehicle-fuel-type-count-by-zip-code-2019.csv')
df_2019 = pd.read_csv(file)

C:\Users\ourfa\AppData\Local\Temp\ipykernel_21952\3488827372.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2019 = pd.read_csv(file)

In [104]:
df_2019.head()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,10/1/2018,90000,2006,Gasoline,OTHER/UNK,Light,1
1,10/1/2018,90000,2014,Gasoline,OTHER/UNK,Light,1
2,10/1/2018,90000,2016,Gasoline,OTHER/UNK,Light,1
3,10/1/2018,90000,2017,Gasoline,OTHER/UNK,Light,1
4,10/1/2018,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55

In [105]:
df_2019.tail()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
586228,10/1/2018,Other,<2006,Hybrid Gasoline,TOYOTA,Light,54
586229,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Heavy,4
586230,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Light,6
586231,10/1/2018,Other,<2006,Other,OTHER/UNK,Heavy,1
586232,10/1/2018,Other,<2006,Other,OTHER/UNK,Light,8

In [106]:
df_2019.dtypes

Date          object
Zip Code      object
Model Year    object
Fuel          object
Make          object
Duty          object
Vehicles       int64
dtype: object

In [107]:
df_2019['Date'] = 2019
df_2019.head()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,2019,90000,2006,Gasoline,OTHER/UNK,Light,1
1,2019,90000,2014,Gasoline,OTHER/UNK,Light,1
2,2019,90000,2016,Gasoline,OTHER/UNK,Light,1
3,2019,90000,2017,Gasoline,OTHER/UNK,Light,1
4,2019,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55

In [108]:
df_2019.rename(columns={'Date':'Year'}, inplace=True)
df_2019.head()

,Year,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,2019,90000,2006,Gasoline,OTHER/UNK,Light,1
1,2019,90000,2014,Gasoline,OTHER/UNK,Light,1
2,2019,90000,2016,Gasoline,OTHER/UNK,Light,1
3,2019,90000,2017,Gasoline,OTHER/UNK,Light,1
4,2019,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55

In [109]:
df_2019['Zip Code'].unique()

array([90000, 90001, 90002, ..., '99999', 'OOS', 'Other'], dtype=object)

In [110]:
df_2019['Model Year'].unique()

array(['2006', '2014', '2016', '2017', '<2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2015', '2018', '2019'],
      dtype=object)

In [111]:
df_2019['Fuel'].unique()

array(['Gasoline', 'Diesel and Diesel Hybrid', 'Battery Electric',
       'Other', 'Flex-Fuel', 'Hybrid Gasoline', 'Natural Gas',
       'Plug-in Hybrid', 'Hydrogen Fuel Cell'], dtype=object)

In [112]:
df_2019['Make'].unique()

array(['OTHER/UNK', 'WHITE', 'CHEVROLET', 'DODGE', 'FORD', 'GMC',
       'PLYMOUTH', 'ACURA', 'BMW', 'CADILLAC', 'CHRYSLER', 'HONDA',
       'INFINITI', 'JEEP', 'KIA', 'LEXUS', 'MAZDA', 'MERCEDES-BENZ',
       'NISSAN', 'PONTIAC', 'SCION', 'TOYOTA', 'VOLKSWAGEN', 'HYUNDAI',
       'LINCOLN', 'SATURN', 'FREIGHTLINER', 'INTERNATIONAL', 'RAM',
       'SUBARU', 'MINI', 'ISUZU', 'PETERBILT', 'MERCURY', 'AUDI', 'BUICK',
       'GEO', 'HUMMER', 'JAGUAR', 'LAND ROVER', 'MITSUBISHI',
       'OLDSMOBILE', 'SUZUKI', 'VOLVO', 'FIAT', 'PORSCHE', 'TESLA',
       'MASERATI', 'ALFA ROMEO', 'GENESIS', 'SAAB', 'HINO',
       'MOTOR COACH INDUSTRIES', 'UD TRUCKS', 'WORKHORSE',
       'NORTH AMERICAN BUS INDUSTRIES', 'KENWORTH', 'MACK',
       'PIERCE MANUFACTURING', 'STERLING', 'AMERICAN LAFRANCE',
       'NEWFLYER', 'GILLIG', 'AUTOCAR', 'BLUEBIRD',
       'FLXIBLE TRANSIT COACHES', 'FWD', 'NEOPLAN', 'ORION', 'OSHKOSH',
       'TMC GREYHOUND', 'WHITE/GMC', 'GEM', 'PREVOST', 'BENTLEY',
       'ROLLS-ROYCE', 'FERRARI', 'KOVATCH MOBLIE EQUIPMENT CORP.',
       'SMART', 'THOMAS BUS', 'AMERICAN CUSTOM GOLFCARTS', 'ASTON MARTIN',
       'MITSUBISHI FUSO', 'NOVABUS', 'MILES', 'KALMAR INDUSTRIES USA LLC',
       'MG', 'CRANE CARRIER', 'ROADMASTER', 'IC BUS, LLC', 'CATERPILLAR',
       'COLUMBIA', 'VPG', 'AM GENERAL', 'WESTERN STAR', 'EVOBUS',
       'SPARTAN', 'DYMAC VEHICLE GROUP INC', 'FLEXIBLE', 'CLUB CAR',
       'WESTERN GOLF CART', 'EMERGENCY ONE', 'CAPACITY OF TEXAS INC',
       'CROWN COACH INC', 'EBUS', 'VAN HOOL',
       'MAN TRUCK AND BUS CORPORATION', 'TROLLEY', 'LODAL', 'TOMBERLIN',
       'EZGO', 'HME', 'ALLIANZ', 'SMITH', 'SPECIAL CONSTRUCTION'],
      dtype=object)

In [113]:
df_2019['Duty'].unique()

array(['Light', 'Heavy'], dtype=object)

In [114]:
df_2019 = df_2019[df_2019['Zip Code'] != 'OOS']

In [115]:
df_2019 = df_2019[df_2019['Zip Code'] != 'Other']

In [116]:
df_2019 = df_2019[df_2019['Fuel'] != 'Other']

In [117]:
df_2019 = df_2019[df_2019['Make'] != 'OTHER/UNK']

In [118]:
df_2019['Zip Code'].unique()

array([90000, 90001, 90002, ..., '98072', '98390', '98661'], dtype=object)

In [119]:
df_2019['Fuel'].unique()

array(['Diesel and Diesel Hybrid', 'Gasoline', 'Flex-Fuel',
       'Hybrid Gasoline', 'Battery Electric', 'Plug-in Hybrid',
       'Natural Gas', 'Hydrogen Fuel Cell'], dtype=object)

In [120]:
df_2019['Make'].unique()

array(['WHITE', 'CHEVROLET', 'DODGE', 'FORD', 'GMC', 'PLYMOUTH', 'ACURA',
       'BMW', 'CADILLAC', 'CHRYSLER', 'HONDA', 'INFINITI', 'JEEP', 'KIA',
       'LEXUS', 'MAZDA', 'MERCEDES-BENZ', 'NISSAN', 'PONTIAC', 'SCION',
       'TOYOTA', 'VOLKSWAGEN', 'HYUNDAI', 'LINCOLN', 'SATURN',
       'FREIGHTLINER', 'INTERNATIONAL', 'RAM', 'SUBARU', 'MINI', 'ISUZU',
       'PETERBILT', 'MERCURY', 'AUDI', 'BUICK', 'GEO', 'HUMMER', 'JAGUAR',
       'LAND ROVER', 'MITSUBISHI', 'OLDSMOBILE', 'SUZUKI', 'VOLVO',
       'FIAT', 'PORSCHE', 'TESLA', 'MASERATI', 'ALFA ROMEO', 'GENESIS',
       'SAAB', 'HINO', 'MOTOR COACH INDUSTRIES', 'UD TRUCKS', 'WORKHORSE',
       'NORTH AMERICAN BUS INDUSTRIES', 'KENWORTH', 'MACK',
       'PIERCE MANUFACTURING', 'STERLING', 'AMERICAN LAFRANCE',
       'NEWFLYER', 'GILLIG', 'AUTOCAR', 'BLUEBIRD',
       'FLXIBLE TRANSIT COACHES', 'FWD', 'NEOPLAN', 'ORION', 'OSHKOSH',
       'TMC GREYHOUND', 'WHITE/GMC', 'GEM', 'PREVOST', 'BENTLEY',
       'ROLLS-ROYCE', 'FERRARI', 'KOVATCH MOBLIE EQUIPMENT CORP.',
       'SMART', 'THOMAS BUS', 'AMERICAN CUSTOM GOLFCARTS', 'ASTON MARTIN',
       'MITSUBISHI FUSO', 'NOVABUS', 'MILES', 'KALMAR INDUSTRIES USA LLC',
       'MG', 'CRANE CARRIER', 'ROADMASTER', 'IC BUS, LLC', 'CATERPILLAR',
       'COLUMBIA', 'VPG', 'AM GENERAL', 'WESTERN STAR', 'EVOBUS',
       'SPARTAN', 'DYMAC VEHICLE GROUP INC', 'FLEXIBLE', 'CLUB CAR',
       'WESTERN GOLF CART', 'EMERGENCY ONE', 'CAPACITY OF TEXAS INC',
       'CROWN COACH INC', 'EBUS', 'VAN HOOL',
       'MAN TRUCK AND BUS CORPORATION', 'TROLLEY', 'LODAL', 'TOMBERLIN',
       'EZGO', 'HME', 'ALLIANZ'], dtype=object)

In [121]:
df_2019.dtypes

Year           int64
Zip Code      object
Model Year    object
Fuel          object
Make          object
Duty          object
Vehicles       int64
dtype: object

In [122]:
file = Path('Resources/vehicle-fuel-type-count-by-zip-code-2020.csv')
df_2020 = pd.read_csv(file)

C:\Users\ourfa\AppData\Local\Temp\ipykernel_21952\3214022938.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv(file)

In [123]:
df_2020.head()

       Date Zip Code Model Year      Fuel   Make   Duty  Vehicles
0  1/1/2020    90001       2007  Gasoline  ACURA  Light        15
1  1/1/2020    90002       2007  Gasoline  ACURA  Light        20
2  1/1/2020    90003       2007  Gasoline  ACURA  Light        29
3  1/1/2020    90004       2007  Gasoline  ACURA  Light        19
4  1/1/2020    90006       2007  Gasoline  ACURA  Light        15

In [124]:
df_2020.tail()

            Date Zip Code Model Year      Fuel Make   Duty  Vehicles
602389  1/1/2020      OOS        Unk  Gasoline  Unk  Heavy        98
602390  1/1/2020    90012        Unk  Gasoline  Unk  Light        12
602391  1/1/2020    93065        Unk  Gasoline  Unk  Light        11
602392  1/1/2020    95762        Unk  Gasoline  Unk  Light        12
602393  1/1/2020      OOS        Unk  Gasoline  Unk  Light        52

In [125]:
df_2020['Date'] = 2020
df_2020.head()

   Date Zip Code Model Year      Fuel   Make   Duty  Vehicles
0  2020    90001       2007  Gasoline  ACURA  Light        15
1  2020    90002       2007  Gasoline  ACURA  Light        20
2  2020    90003       2007  Gasoline  ACURA  Light        29
3  2020    90004       2007  Gasoline  ACURA  Light        19
4  2020    90006       2007  Gasoline  ACURA  Light        15

In [126]:
df_2020.tail()

        Date Zip Code Model Year      Fuel Make   Duty  Vehicles
602389  2020      OOS        Unk  Gasoline  Unk  Heavy        98
602390  2020    90012        Unk  Gasoline  Unk  Light        12
602391  2020    93065        Unk  Gasoline  Unk  Light        11
602392  2020    95762        Unk  Gasoline  Unk  Light        12
602393  2020      OOS        Unk  Gasoline  Unk  Light        52

In [127]:
df_2020.rename(columns={'Date':'Year'}, inplace=True)
df_2020.head()

   Year Zip Code Model Year      Fuel   Make   Duty  Vehicles
0  2020    90001       2007  Gasoline  ACURA  Light        15
1  2020    90002       2007  Gasoline  ACURA  Light        20
2  2020    90003       2007  Gasoline  ACURA  Light        29
3  2020    90004       2007  Gasoline  ACURA  Light        19
4  2020    90006       2007  Gasoline  ACURA  Light        15

In [128]:
df_2020['Zip Code'].unique()

array(['90001', '90002', '90003', ..., '97280', '90112', '94286'],
      dtype=object)

In [129]:
df_2020['Model Year'].unique()

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       '2017', '2018', '2019', '2020', '2021', '<2007', 'Unk'],
      dtype=object)

In [130]:
df_2020['Fuel'].unique()

array(['Gasoline', 'Natural Gas', 'Diesel and Diesel Hybrid', 'Flex-Fuel',
       'Hybrid Gasoline', 'Other', 'Battery Electric',
       'Hydrogen Fuel Cell', 'Plug-in Hybrid'], dtype=object)

In [131]:
df_2020['Make'].unique()

array(['ACURA', 'ALLIANZ', 'AMERICAN LAFRANCE', 'AUDI', 'AUTOCAR',
       'BENTLEY', 'BLUEBIRD', 'BMW', 'BUICK', 'CADILLAC', 'CHEVROLET',
       'CHRYSLER', 'CRANE CARRIER', 'DODGE', 'EMERGENCY ONE', 'FORD',
       'FREIGHTLINER', 'GILLIG', 'GMC', 'HINO', 'HONDA', 'HUMMER',
       'HYUNDAI', 'INFINITI', 'INTERNATIONAL', 'ISUZU', 'JAGUAR', 'JEEP',
       'KALMAR INDUSTRIES USA LLC', 'KENWORTH', 'KIA',
       'KOVATCH MOBLIE EQUIPMENT CORP.', 'LAND ROVER', 'LEXUS', 'LINCOLN',
       'MACK', 'MAZDA', 'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI',
       'NEWFLYER', 'NISSAN', 'NORTH AMERICAN BUS INDUSTRIES', 'ORION',
       'OTHER/UNK', 'PETERBILT', 'PIERCE MANUFACTURING', 'PONTIAC',
       'PORSCHE', 'SAAB', 'SATURN', 'SCION', 'SPARTAN', 'STERLING',
       'SUBARU', 'SUZUKI', 'THOMAS BUS', 'TOYOTA', 'UD TRUCKS', 'Unk',
       'VOLKSWAGEN', 'VOLVO', 'WORKHORSE', 'CATERPILLAR', 'HME',
       'IC BUS, LLC', 'SMART', 'TESLA', 'THOMAS BUILT BUSES', 'VAN HOOL',
       'CAPACITY OF TEXAS INC', 'EVOBUS', 'MOTOR COACH INDUSTRIES',
       'SMITH', 'RAM', 'ROLLS-ROYCE', 'FIAT', 'MITSUBISHI FUSO', 'VPG',
       'BLUE BIRD', 'FERRARI', 'WESTERN STAR', 'ALEXANDER DENNIS',
       'AM GENERAL', 'MASERATI', 'PREVOST', 'NEW FLYER', 'PIERCE',
       'ALFA ROMEO', 'CAPACITY', 'GENESIS', 'IC BUS', 'KALMAR', 'TEMSA',
       'ASTON MARTIN', 'LAMBORGHINI', 'COUNTRY COACH', 'CROWN COACH INC',
       'FLEXIBLE', 'FLXIBLE TRANSIT COACHES', 'FWD', 'GEO', 'LODAL',
       'MAN TRUCK AND BUS CORPORATION', 'MG', 'NEOPLAN', 'NOVABUS',
       'OLDSMOBILE', 'OSHKOSH', 'PLYMOUTH', 'ROADMASTER',
       'SPECIAL CONSTRUCTION', 'TMC GREYHOUND', 'TROLLEY', 'WHITE',
       'WHITE/GMC'], dtype=object)

In [132]:
df_2020['Duty'].unique()

array(['Light', 'Heavy'], dtype=object)

In [133]:
df_2020 = df_2020[df_2020['Zip Code'] != 'OOS']

In [134]:
df_2020 = df_2020[df_2020['Zip Code'] != 'Other']

In [135]:
df_2020 = df_2020[df_2020['Fuel'] != 'Other']

In [136]:
df_2020 = df_2020[df_2020['Model Year']!='Unk']

In [137]:
df_2020 = df_2020[df_2020['Make'] != 'OTHER/UNK']

In [138]:
df_2020['Zip Code'].unique()

array(['90001', '90002', '90003', ..., '95802', '92330', '98004'],
      dtype=object)

In [139]:
df_2020['Fuel'].unique()

array(['Gasoline', 'Natural Gas', 'Diesel and Diesel Hybrid', 'Flex-Fuel',
       'Hybrid Gasoline', 'Battery Electric', 'Plug-in Hybrid',
       'Hydrogen Fuel Cell'], dtype=object)

In [140]:
df_2020['Model Year'].unique()

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       '2017', '2018', '2019', '2020', '<2007'], dtype=object)

In [141]:
df_2020['Make'].unique()

array(['ACURA', 'ALLIANZ', 'AMERICAN LAFRANCE', 'AUDI', 'AUTOCAR',
       'BENTLEY', 'BLUEBIRD', 'BMW', 'BUICK', 'CADILLAC', 'CHEVROLET',
       'CHRYSLER', 'CRANE CARRIER', 'DODGE', 'EMERGENCY ONE', 'FORD',
       'FREIGHTLINER', 'GILLIG', 'GMC', 'HINO', 'HONDA', 'HUMMER',
       'HYUNDAI', 'INFINITI', 'INTERNATIONAL', 'ISUZU', 'JAGUAR', 'JEEP',
       'KALMAR INDUSTRIES USA LLC', 'KENWORTH', 'KIA',
       'KOVATCH MOBLIE EQUIPMENT CORP.', 'LAND ROVER', 'LEXUS', 'LINCOLN',
       'MACK', 'MAZDA', 'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI',
       'NEWFLYER', 'NISSAN', 'NORTH AMERICAN BUS INDUSTRIES', 'ORION',
       'PETERBILT', 'PIERCE MANUFACTURING', 'PONTIAC', 'PORSCHE',
       'SATURN', 'SCION', 'SPARTAN', 'STERLING', 'SUBARU', 'THOMAS BUS',
       'TOYOTA', 'UD TRUCKS', 'Unk', 'VOLKSWAGEN', 'VOLVO', 'WORKHORSE',
       'CATERPILLAR', 'HME', 'IC BUS, LLC', 'SMART', 'SUZUKI', 'TESLA',
       'VAN HOOL', 'CAPACITY OF TEXAS INC', 'EVOBUS',
       'MOTOR COACH INDUSTRIES', 'RAM', 'ROLLS-ROYCE', 'FIAT',
       'MITSUBISHI FUSO', 'VPG', 'BLUE BIRD', 'FERRARI', 'WESTERN STAR',
       'ALEXANDER DENNIS', 'AM GENERAL', 'MASERATI', 'PREVOST',
       'NEW FLYER', 'PIERCE', 'THOMAS BUILT BUSES', 'ALFA ROMEO',
       'CAPACITY', 'GENESIS', 'IC BUS', 'KALMAR', 'TEMSA', 'ASTON MARTIN',
       'LAMBORGHINI', 'CROWN COACH INC', 'FLEXIBLE',
       'FLXIBLE TRANSIT COACHES', 'FWD', 'GEO', 'LODAL',
       'MAN TRUCK AND BUS CORPORATION', 'MG', 'NEOPLAN', 'NOVABUS',
       'OLDSMOBILE', 'OSHKOSH', 'PLYMOUTH', 'ROADMASTER', 'SAAB',
       'TMC GREYHOUND', 'TROLLEY', 'WHITE', 'WHITE/GMC'], dtype=object)

In [142]:
file = Path('Resources/vehicle-fuel-type-count-by-zip-code-2021.csv')
df_2021 = pd.read_csv(file)

C:\Users\ourfa\AppData\Local\Temp\ipykernel_21952\1549191446.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv(file)

In [143]:
df_2021.head()

       Date Zip Code Model Year      Fuel   Make   Duty  Vehicles
0  1/1/2021    90001       2008  Gasoline  ACURA  Light        12
1  1/1/2021    90003       2008  Gasoline  ACURA  Light        24
2  1/1/2021    90004       2008  Gasoline  ACURA  Light        20
3  1/1/2021    90005       2008  Gasoline  ACURA  Light        12
4  1/1/2021    90006       2008  Gasoline  ACURA  Light        15

In [144]:
df_2021.tail()

            Date Zip Code Model Year      Fuel       Make   Duty  Vehicles
677964  1/1/2021    96003      <2008  Gasoline  WORKHORSE  Heavy        22
677965  1/1/2021    96080      <2008  Gasoline  WORKHORSE  Heavy        11
677966  1/1/2021    96161      <2008  Gasoline  WORKHORSE  Heavy        12
677967  1/1/2021      OOS      <2008  Gasoline  WORKHORSE  Heavy       229
677968  1/1/2021      OOS      <2008  Gasoline  WORKHORSE    Unk       122

In [145]:
df_2021['Date'] = 2021
df_2021.head()

   Date Zip Code Model Year      Fuel   Make   Duty  Vehicles
0  2021    90001       2008  Gasoline  ACURA  Light        12
1  2021    90003       2008  Gasoline  ACURA  Light        24
2  2021    90004       2008  Gasoline  ACURA  Light        20
3  2021    90005       2008  Gasoline  ACURA  Light        12
4  2021    90006       2008  Gasoline  ACURA  Light        15

In [146]:
df_2021.tail()

        Date Zip Code Model Year      Fuel       Make   Duty  Vehicles
677964  2021    96003      <2008  Gasoline  WORKHORSE  Heavy        22
677965  2021    96080      <2008  Gasoline  WORKHORSE  Heavy        11
677966  2021    96161      <2008  Gasoline  WORKHORSE  Heavy        12
677967  2021      OOS      <2008  Gasoline  WORKHORSE  Heavy       229
677968  2021      OOS      <2008  Gasoline  WORKHORSE    Unk       122

In [147]:
df_2021.rename(columns={'Date':'Year'}, inplace=True)
df_2021.head()

   Year Zip Code Model Year      Fuel   Make   Duty  Vehicles
0  2021    90001       2008  Gasoline  ACURA  Light        12
1  2021    90003       2008  Gasoline  ACURA  Light        24
2  2021    90004       2008  Gasoline  ACURA  Light        20
3  2021    90005       2008  Gasoline  ACURA  Light        12
4  2021    90006       2008  Gasoline  ACURA  Light        15

In [148]:
df_2021['Zip Code'].unique()

array(['90001', '90003', '90004', ..., '98082', '98555', '99725'],
      dtype=object)

In [149]:
df_2021['Fuel'].unique()

array(['Gasoline', 'Diesel and Diesel Hybrid', 'Flex-Fuel',
       'Hybrid Gasoline', 'Natural Gas', 'Battery Electric', 'Other',
       'Plug-in Hybrid', 'Hydrogen Fuel Cell'], dtype=object)

In [150]:
df_2021['Model Year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, '2019', '2020', '2021', '<2008'], dtype=object)

In [151]:
df_2021['Make'].unique()

array(['ACURA', 'ALLIANZ', 'AMERICAN LAFRANCE', 'AUDI', 'AUTOCAR', 'BMW',
       'BUICK', 'CADILLAC', 'CATERPILLAR', 'CHEVROLET', 'CHRYSLER',
       'DODGE', 'FORD', 'FREIGHTLINER', 'GMC', 'HINO', 'HME', 'HONDA',
       'HUMMER', 'HYUNDAI', 'IC BUS, LLC', 'INFINITI', 'INTERNATIONAL',
       'ISUZU', 'JEEP', 'KALMAR INDUSTRIES USA LLC', 'KENWORTH', 'KIA',
       'LAND ROVER', 'LEXUS', 'LINCOLN', 'MAZDA', 'MERCEDES-BENZ',
       'MERCURY', 'MINI', 'MITSUBISHI', 'NEWFLYER', 'NISSAN',
       'NORTH AMERICAN BUS INDUSTRIES', 'OTHER/UNK', 'PETERBILT',
       'PIERCE MANUFACTURING', 'PONTIAC', 'PORSCHE', 'ROADMASTER', 'SAAB',
       'SATURN', 'SCION', 'SMART', 'SPARTAN', 'STERLING', 'SUBARU',
       'SUZUKI', 'THOMAS BUILT BUSES', 'TOYOTA', 'VAN HOOL', 'VOLKSWAGEN',
       'VOLVO', 'WORKHORSE', 'BLUE BIRD', 'CAPACITY OF TEXAS INC',
       'CRANE CARRIER', 'GILLIG', 'JAGUAR', 'MOTOR COACH INDUSTRIES',
       'SMITH', 'EVOBUS', 'KOVATCH MOBLIE EQUIPMENT CORP.', 'MACK', 'RAM',
       'ROLLS-ROYCE', 'CAPACITY', 'FIAT', 'TESLA', 'VPG', 'BLUEBIRD',
       'WESTERN STAR', 'ALEXANDER DENNIS', 'AM GENERAL', 'MASERATI',
       'MITSUBISHI FUSO', 'PREVOST', 'NEW FLYER', 'PIERCE', 'ALFA ROMEO',
       'GENESIS', 'IC BUS', 'KALMAR', 'BENTLEY', 'LAMBORGHINI',
       'EMERGENCY ONE', 'FLEXIBLE', 'FLXIBLE TRANSIT COACHES', 'FWD',
       'GEO', 'LODAL', 'MG', 'NEOPLAN', 'NOVABUS', 'OLDSMOBILE', 'ORION',
       'OSHKOSH', 'PLYMOUTH', 'SPECIAL CONSTRUCTION', 'THOMAS BUS',
       'TMC GREYHOUND', 'UD TRUCKS', 'WHITE', 'WHITE/GMC'], dtype=object)

In [152]:
df_2021['Duty'].unique()

array(['Light', 'Heavy', 'Unk'], dtype=object)

In [153]:
df_2021 = df_2021[df_2021['Zip Code'] != 'OOS']

In [154]:
df_2021 = df_2021[df_2021['Zip Code'] != 'Other']

In [155]:
df_2021 = df_2021[df_2021['Fuel'] != 'Other']

In [156]:
df_2021 = df_2021[df_2021['Make'] != 'OTHER/UNK']

In [157]:
df_2021['Zip Code'].unique()

array(['90001', '90003', '90004', ..., '97504', '97527', '97703'],
      dtype=object)

In [158]:
df_2021['Fuel'].unique()

array(['Gasoline', 'Diesel and Diesel Hybrid', 'Flex-Fuel',
       'Hybrid Gasoline', 'Natural Gas', 'Battery Electric',
       'Plug-in Hybrid', 'Hydrogen Fuel Cell'], dtype=object)

In [159]:
df_2021['Make'].unique()

array(['ACURA', 'ALLIANZ', 'AMERICAN LAFRANCE', 'AUDI', 'AUTOCAR', 'BMW',
       'BUICK', 'CADILLAC', 'CATERPILLAR', 'CHEVROLET', 'CHRYSLER',
       'DODGE', 'FORD', 'FREIGHTLINER', 'GMC', 'HME', 'HONDA', 'HUMMER',
       'HYUNDAI', 'IC BUS, LLC', 'INFINITI', 'INTERNATIONAL', 'ISUZU',
       'JEEP', 'KALMAR INDUSTRIES USA LLC', 'KENWORTH', 'KIA',
       'LAND ROVER', 'LEXUS', 'LINCOLN', 'MAZDA', 'MERCEDES-BENZ',
       'MERCURY', 'MINI', 'MITSUBISHI', 'NEWFLYER', 'NISSAN',
       'NORTH AMERICAN BUS INDUSTRIES', 'PETERBILT',
       'PIERCE MANUFACTURING', 'PONTIAC', 'SATURN', 'SCION', 'SMART',
       'SPARTAN', 'STERLING', 'SUBARU', 'SUZUKI', 'THOMAS BUILT BUSES',
       'TOYOTA', 'VAN HOOL', 'VOLKSWAGEN', 'VOLVO', 'WORKHORSE',
       'BLUE BIRD', 'CAPACITY OF TEXAS INC', 'CRANE CARRIER', 'GILLIG',
       'PORSCHE', 'MOTOR COACH INDUSTRIES', 'EVOBUS', 'JAGUAR',
       'KOVATCH MOBLIE EQUIPMENT CORP.', 'MACK', 'RAM', 'ROLLS-ROYCE',
       'FIAT', 'HINO', 'TESLA', 'VPG', 'BLUEBIRD', 'WESTERN STAR',
       'ALEXANDER DENNIS', 'AM GENERAL', 'MASERATI', 'PREVOST',
       'MITSUBISHI FUSO', 'NEW FLYER', 'PIERCE', 'CAPACITY', 'GENESIS',
       'IC BUS', 'KALMAR', 'ALFA ROMEO', 'BENTLEY', 'LAMBORGHINI',
       'EMERGENCY ONE', 'FLEXIBLE', 'FLXIBLE TRANSIT COACHES', 'FWD',
       'GEO', 'LODAL', 'NEOPLAN', 'NOVABUS', 'OLDSMOBILE', 'ORION',
       'OSHKOSH', 'PLYMOUTH', 'ROADMASTER', 'SAAB', 'THOMAS BUS',
       'TMC GREYHOUND', 'UD TRUCKS', 'WHITE', 'WHITE/GMC'], dtype=object)

In [160]:
file = Path('Resources/vehicle-fuel-type-count-by-zip-code-2022.csv')
df_2022 = pd.read_csv(file)

C:\Users\ourfa\AppData\Local\Temp\ipykernel_21952\3955288949.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv(file)

In [161]:
df_2022.head()

       Date Zip Code Model Year      Fuel       Make   Duty  Vehicles
0  1/1/2022    90000       2020  Gasoline  OTHER/UNK  Light         1
1  1/1/2022    90000       2022  Gasoline  OTHER/UNK  Light         1
2  1/1/2022    90000      <2008  Gasoline  OTHER/UNK  Heavy        22
3  1/1/2022    90000      <2008  Gasoline  OTHER/UNK  Light        20
4  1/1/2022    90000      <2008  Gasoline  OTHER/UNK    Unk        12

In [162]:
df_2022.tail()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
722460,1/1/2022,OOS,<2008,Flex-Fuel,CHRYSLER,Light,24
722461,1/1/2022,OOS,<2008,Flex-Fuel,CHRYSLER,Unk,26
722462,1/1/2022,OOS,<2008,Flex-Fuel,MAZDA,Light,14
722463,1/1/2022,OOS,<2008,Flex-Fuel,MERCURY,Light,20
722464,1/1/2022,OOS,<2008,Battery Electric,OTHER/UNK,Light,2

In [163]:
df_2022['Date'] = 2022
df_2022.head()

   Date Zip Code Model Year      Fuel       Make   Duty  Vehicles
0  2022    90000       2020  Gasoline  OTHER/UNK  Light         1
1  2022    90000       2022  Gasoline  OTHER/UNK  Light         1
2  2022    90000      <2008  Gasoline  OTHER/UNK  Heavy        22
3  2022    90000      <2008  Gasoline  OTHER/UNK  Light        20
4  2022    90000      <2008  Gasoline  OTHER/UNK    Unk        12

In [164]:
df_2022.tail()

        Date Zip Code Model Year              Fuel       Make   Duty  Vehicles
722460  2022      OOS      <2008         Flex-Fuel   CHRYSLER  Light        24
722461  2022      OOS      <2008         Flex-Fuel   CHRYSLER    Unk        26
722462  2022      OOS      <2008         Flex-Fuel      MAZDA  Light        14
722463  2022      OOS      <2008         Flex-Fuel    MERCURY  Light        20
722464  2022      OOS      <2008  Battery Electric  OTHER/UNK  Light         2

In [165]:
df_2022.rename(columns={'Date':'Year'}, inplace=True)
df_2022.head()

   Year Zip Code Model Year      Fuel       Make   Duty  Vehicles
0  2022    90000       2020  Gasoline  OTHER/UNK  Light         1
1  2022    90000       2022  Gasoline  OTHER/UNK  Light         1
2  2022    90000      <2008  Gasoline  OTHER/UNK  Heavy        22
3  2022    90000      <2008  Gasoline  OTHER/UNK  Light        20
4  2022    90000      <2008  Gasoline  OTHER/UNK    Unk        12

In [166]:
df_2022['Zip Code'].unique()

array([90000, 90001, 90002, ..., '99933', '99999', 'OOS'], dtype=object)

In [167]:
df_2022['Model Year'].unique()

array(['2020', '2022', '<2008', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2021',
       '2023'], dtype=object)

In [168]:
df_2022['Fuel'].unique()

array(['Gasoline', 'Other', 'Diesel and Diesel Hybrid', 'Natural Gas',
       'Hybrid Gasoline', 'Flex-Fuel', 'Battery Electric',
       'Plug-in Hybrid', 'Hydrogen Fuel Cell'], dtype=object)

In [169]:
df_2022['Make'].unique()

array(['OTHER/UNK', 'FORD', 'PLYMOUTH', 'GMC', 'CHEVROLET', 'WHITE',
       'INFINITI', 'MERCEDES-BENZ', 'VOLKSWAGEN', 'DODGE', 'JEEP',
       'HONDA', 'CHRYSLER', 'CADILLAC', 'NISSAN', 'TOYOTA', 'MAZDA',
       'BMW', 'HYUNDAI', 'LEXUS', 'KIA', 'SCION', 'FREIGHTLINER', 'ACURA',
       'MITSUBISHI', 'RAM', 'AUDI', 'MINI', 'BUICK', 'SUBARU', 'TESLA',
       'MERCURY', 'LINCOLN', 'PORSCHE', 'VOLVO', 'HUMMER', 'PONTIAC',
       'OLDSMOBILE', 'SATURN', 'ISUZU', 'JAGUAR', 'SUZUKI', 'LAND ROVER',
       'GEO', 'FIAT', 'GENESIS', 'SAAB', 'HINO', 'LAMBORGHINI',
       'ROLLS-ROYCE', 'WORKHORSE', 'INTERNATIONAL', 'AMERICAN LAFRANCE',
       'NORTH AMERICAN BUS INDUSTRIES', 'PETERBILT',
       'MOTOR COACH INDUSTRIES', 'NEWFLYER', 'KENWORTH', 'BLUE BIRD',
       'GILLIG', 'AUTOCAR', 'PIERCE', 'IC BUS', 'NEW FLYER', 'PROTERRA',
       'NEOPLAN', 'OSHKOSH', 'ORION', 'FWD', 'FLXIBLE TRANSIT COACHES',
       'MACK', 'TMC GREYHOUND', 'STERLING', 'WHITE/GMC',
       'PIERCE MANUFACTURING', 'ALFA ROMEO', 'KALMAR', 'PREVOST',
       'MASERATI', 'BENTLEY', 'FERRARI', 'KOVATCH MOBLIE EQUIPMENT CORP.',
       'THOMAS BUILT BUSES', 'THOMAS BUS', 'IC BUS LLC', 'SMART',
       'ASTON MARTIN', 'MITSUBISHI FUSO', 'NOVABUS',
       'KALMAR INDUSTRIES USA LLC', 'CRANE CARRIER', 'ROADMASTER',
       'ALEXANDER DENNIS', 'CATERPILLAR', 'SPARTAN', 'VPG', 'AM GENERAL',
       'WESTERN STAR', 'FLEXIBLE', 'VAN HOOL', 'EMERGENCY ONE',
       'CAPACITY OF TEXAS INC', 'BLUEBIRD', 'EVOBUS', 'LODAL', 'HME',
       'ALLIANZ', 'MG', 'CAPACITY', 'POLESTAR', 'SPECIAL CONSTRUCTION',
       'LOTUS', 'COUNTRY COACH'], dtype=object)

In [170]:
df_2022['Duty'].unique()

array(['Light', 'Heavy', 'Unk'], dtype=object)

In [171]:
df_2022 = df_2022[df_2022['Zip Code'] != 'OOS']

In [172]:
df_2022 = df_2022[df_2022['Zip Code'] != 'Other']

In [173]:
df_2022 = df_2022[df_2022['Fuel'] != 'Other']

In [174]:
df_2022 = df_2022[df_2022['Make'] != 'OTHER/UNK']

In [175]:
df_2022 = df_2022[df_2022['Duty'] != 'Unk']

In [176]:
df_2022['Zip Code'].unique()

array([90000, 90001, 90002, ..., '98661', '99301', '99503'], dtype=object)

In [177]:
df_2022['Fuel'].unique()

array(['Gasoline', 'Diesel and Diesel Hybrid', 'Hybrid Gasoline',
       'Flex-Fuel', 'Battery Electric', 'Plug-in Hybrid', 'Natural Gas',
       'Hydrogen Fuel Cell'], dtype=object)

In [178]:
df_2022['Make'].unique()

array(['FORD', 'PLYMOUTH', 'GMC', 'CHEVROLET', 'WHITE', 'INFINITI',
       'MERCEDES-BENZ', 'VOLKSWAGEN', 'DODGE', 'JEEP', 'HONDA',
       'CHRYSLER', 'CADILLAC', 'NISSAN', 'TOYOTA', 'MAZDA', 'BMW',
       'HYUNDAI', 'LEXUS', 'KIA', 'SCION', 'FREIGHTLINER', 'ACURA',
       'MITSUBISHI', 'RAM', 'AUDI', 'MINI', 'BUICK', 'SUBARU', 'TESLA',
       'MERCURY', 'LINCOLN', 'PORSCHE', 'VOLVO', 'HUMMER', 'PONTIAC',
       'OLDSMOBILE', 'SATURN', 'ISUZU', 'JAGUAR', 'SUZUKI', 'LAND ROVER',
       'GEO', 'FIAT', 'GENESIS', 'SAAB', 'HINO', 'LAMBORGHINI',
       'ROLLS-ROYCE', 'WORKHORSE', 'INTERNATIONAL', 'AMERICAN LAFRANCE',
       'NORTH AMERICAN BUS INDUSTRIES', 'PETERBILT',
       'MOTOR COACH INDUSTRIES', 'NEWFLYER', 'KENWORTH', 'GILLIG',
       'BLUE BIRD', 'AUTOCAR', 'PIERCE', 'NEW FLYER', 'PROTERRA',
       'IC BUS', 'NEOPLAN', 'OSHKOSH', 'ORION', 'FWD',
       'FLXIBLE TRANSIT COACHES', 'MACK', 'TMC GREYHOUND', 'STERLING',
       'WHITE/GMC', 'PIERCE MANUFACTURING', 'ALFA ROMEO', 'KALMAR',
       'PREVOST', 'MASERATI', 'BENTLEY', 'FERRARI',
       'KOVATCH MOBLIE EQUIPMENT CORP.', 'THOMAS BUILT BUSES',
       'THOMAS BUS', 'IC BUS LLC', 'SMART', 'ASTON MARTIN',
       'MITSUBISHI FUSO', 'NOVABUS', 'KALMAR INDUSTRIES USA LLC',
       'CRANE CARRIER', 'ROADMASTER', 'ALEXANDER DENNIS', 'CATERPILLAR',
       'SPARTAN', 'VPG', 'AM GENERAL', 'WESTERN STAR', 'FLEXIBLE',
       'VAN HOOL', 'EMERGENCY ONE', 'CAPACITY OF TEXAS INC', 'BLUEBIRD',
       'EVOBUS', 'LODAL', 'HME', 'ALLIANZ', 'MG', 'CAPACITY'],
      dtype=object)

In [179]:
df_2022['Duty'].unique()

array(['Light', 'Heavy'], dtype=object)

In [180]:
file = Path('Resources/vehicle-fuel-type-count-by-zip-code-2023.csv')
df_2023 = pd.read_csv(file)

C:\Users\ourfa\AppData\Local\Temp\ipykernel_21952\4136347513.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv(file)

In [181]:
df_2023.head()

         Date Zip Code Model Year             Fuel       Make   Duty  Vehicles
0  12/31/2022    90000       2010         Gasoline  OTHER/UNK  Light         1
1  12/31/2022    90000       2012  Hybrid Gasoline  OTHER/UNK  Light         1
2  12/31/2022    90000       2013         Gasoline  OTHER/UNK  Light         1
3  12/31/2022    90000      <2009         Gasoline  OTHER/UNK  Heavy        19
4  12/31/2022    90000      <2009         Gasoline  OTHER/UNK  Light        16

In [182]:
df_2023.tail()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
767049,12/31/2022,OOS,<2009,Natural Gas,FREIGHTLINER,Heavy,20
767050,12/31/2022,OOS,<2009,Battery Electric,OTHER/UNK,Light,2
767051,12/31/2022,OOS,<2009,Other,OTHER/UNK,Heavy,2
767052,12/31/2022,OOS,<2009,Other,OTHER/UNK,Light,8
767053,12/31/2022,OOS,<2009,Other,OTHER/UNK,Unk,4

In [183]:
df_2023['Date'] = 2023
df_2023.head()

   Date Zip Code Model Year             Fuel       Make   Duty  Vehicles
0  2023    90000       2010         Gasoline  OTHER/UNK  Light         1
1  2023    90000       2012  Hybrid Gasoline  OTHER/UNK  Light         1
2  2023    90000       2013         Gasoline  OTHER/UNK  Light         1
3  2023    90000      <2009         Gasoline  OTHER/UNK  Heavy        19
4  2023    90000      <2009         Gasoline  OTHER/UNK  Light        16

In [184]:
df_2023.tail()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
767049,2023,OOS,<2009,Natural Gas,FREIGHTLINER,Heavy,20
767050,2023,OOS,<2009,Battery Electric,OTHER/UNK,Light,2
767051,2023,OOS,<2009,Other,OTHER/UNK,Heavy,2
767052,2023,OOS,<2009,Other,OTHER/UNK,Light,8
767053,2023,OOS,<2009,Other,OTHER/UNK,Unk,4

In [185]:
df_2023.rename(columns={'Date':'Year'}, inplace=True)
df_2023.head()

   Year Zip Code Model Year             Fuel       Make   Duty  Vehicles
0  2023    90000       2010         Gasoline  OTHER/UNK  Light         1
1  2023    90000       2012  Hybrid Gasoline  OTHER/UNK  Light         1
2  2023    90000       2013         Gasoline  OTHER/UNK  Light         1
3  2023    90000      <2009         Gasoline  OTHER/UNK  Heavy        19
4  2023    90000      <2009         Gasoline  OTHER/UNK  Light        16

In [186]:
df_2023['Zip Code'].unique()

array([90000, 90001, 90002, ..., '99990', '99999', 'OOS'], dtype=object)

In [187]:
df_2023['Model Year'].unique()

array(['2010', '2012', '2013', '<2009', '2008', '2009', '2011', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'], dtype=object)

In [188]:
df_2023['Fuel'].unique()

array(['Gasoline', 'Hybrid Gasoline', 'Unk', 'Diesel and Diesel Hybrid',
       'Flex-Fuel', 'Natural Gas', 'Battery Electric', 'Plug-in Hybrid',
       'Other', 'Hydrogen Fuel Cell'], dtype=object)

In [189]:
df_2023['Make'].unique()

array(['OTHER/UNK', 'FORD', 'PLYMOUTH', 'CHEVROLET', 'Unk', 'GMC',
       'WHITE', 'INFINITI', 'MERCEDES-BENZ', 'VOLKSWAGEN', 'DODGE',
       'JEEP', 'ACURA', 'HONDA', 'CHRYSLER', 'CADILLAC', 'NISSAN',
       'TOYOTA', 'MAZDA', 'BMW', 'HYUNDAI', 'LEXUS', 'KIA', 'SCION',
       'PONTIAC', 'FREIGHTLINER', 'RAM', 'AUDI', 'MINI', 'HINO',
       'MITSUBISHI', 'INTERNATIONAL', 'SUBARU', 'BUICK', 'TESLA',
       'MERCURY', 'LINCOLN', 'VOLVO', 'HUMMER', 'OLDSMOBILE', 'SATURN',
       'ISUZU', 'SUZUKI', 'LAND ROVER', 'PORSCHE', 'UNKNOWN', 'JAGUAR',
       'FIAT', 'GENESIS', 'SAAB', 'ALFA ROMEO', 'GEO', 'WORKHORSE',
       'AMERICAN LAFRANCE', 'NORTH AMERICAN BUS INDUSTRIES', 'PETERBILT',
       'MOTOR COACH INDUSTRIES', 'EL DORADO', 'NEW FLYER', 'KENWORTH',
       'GILLIG', 'BLUE BIRD', 'AUTOCAR', 'PIERCE', 'IC BUS', 'PROTERRA',
       'FWD', 'NEOPLAN', 'OSHKOSH', 'ORION', 'SEAGRAVE', 'STERLING',
       'FLXIBLE TRANSIT COACHES', 'MACK', 'TMC', 'WHITE/GMC', 'KALMAR',
       'PREVOST', 'MASERATI', 'BENTLEY', 'ROLLS-ROYCE', 'FERRARI',
       'ARBOC', 'POLESTAR', 'KOVATCH MOBLIE EQUIPMENT CORP.', 'RIVIAN',
       'THOMAS BUS', 'ASTON MARTIN', 'IC BUS LLC', 'KOVATCH', 'SMART',
       'LAMBORGHINI', 'GREENPOWER MOTOR', 'CRANE CARRIER',
       'BYD COACH AND BUS', 'ALEXANDER DENNIS', 'ROADMASTER',
       'CATERPILLAR', 'ORANGE EV', 'VPG', 'AM GENERAL', 'WESTERN STAR',
       'NORTH AMERICAN', 'SPARTAN', 'MOTOR COACH IND', 'EMERGENCY ONE',
       'LUCID', 'CAPACITY', 'TICO', 'BLUEBIRD', 'VAN HOOL',
       'MAN TRUCK AND BUS CORPORATION', 'CRUISE', 'TROLLEY', 'LODAL',
       'HME', 'ALLIANZ', 'GLOBAL ENVIRONMENTAL', 'XOS', 'BRIGHTDROP',
       'LOTUS', 'SPECIAL CONSTRUCTION', 'MG', 'COUNTRY COACH'],
      dtype=object)

In [190]:
df_2023['Duty'].unique()

array(['Light', 'Heavy', 'Unk'], dtype=object)

In [191]:
df_2023=df_2023[df_2023['Zip Code']!= 'OOS']
df_2023 = df_2023[df_2023['Zip Code'] != 'Other']
df_2023 = df_2023[df_2023['Fuel'] != 'Other']
df_2023 = df_2023[df_2023['Make'] != 'OTHER/UNK']
df_2023 = df_2023[df_2023['Duty'] != 'Unk']

In [192]:
df_2023['Zip Code'].unique()

array([90000, 90001, 90002, ..., '98373', '98661', '99503'], dtype=object)

In [193]:
df_2023['Fuel'].unique()

array(['Gasoline', 'Diesel and Diesel Hybrid', 'Hybrid Gasoline',
       'Flex-Fuel', 'Battery Electric', 'Plug-in Hybrid', 'Natural Gas',
       'Hydrogen Fuel Cell'], dtype=object)

In [194]:
df_2023['Make'].unique()

array(['FORD', 'PLYMOUTH', 'CHEVROLET', 'WHITE', 'GMC', 'INFINITI',
       'MERCEDES-BENZ', 'VOLKSWAGEN', 'DODGE', 'JEEP', 'ACURA', 'HONDA',
       'CHRYSLER', 'CADILLAC', 'NISSAN', 'TOYOTA', 'MAZDA', 'BMW',
       'HYUNDAI', 'LEXUS', 'KIA', 'SCION', 'PONTIAC', 'FREIGHTLINER',
       'RAM', 'AUDI', 'MINI', 'HINO', 'MITSUBISHI', 'INTERNATIONAL',
       'SUBARU', 'BUICK', 'TESLA', 'MERCURY', 'LINCOLN', 'VOLVO',
       'HUMMER', 'OLDSMOBILE', 'SATURN', 'ISUZU', 'SUZUKI', 'LAND ROVER',
       'PORSCHE', 'JAGUAR', 'FIAT', 'GENESIS', 'SAAB', 'ALFA ROMEO',
       'GEO', 'WORKHORSE', 'AMERICAN LAFRANCE',
       'NORTH AMERICAN BUS INDUSTRIES', 'PETERBILT',
       'MOTOR COACH INDUSTRIES', 'EL DORADO', 'NEW FLYER', 'KENWORTH',
       'GILLIG', 'BLUE BIRD', 'AUTOCAR', 'PIERCE', 'PROTERRA', 'IC BUS',
       'FWD', 'NEOPLAN', 'OSHKOSH', 'ORION', 'SEAGRAVE', 'STERLING',
       'FLXIBLE TRANSIT COACHES', 'MACK', 'TMC', 'WHITE/GMC', 'KALMAR',
       'PREVOST', 'MASERATI', 'BENTLEY', 'ROLLS-ROYCE', 'FERRARI',
       'ARBOC', 'POLESTAR', 'KOVATCH MOBLIE EQUIPMENT CORP.', 'RIVIAN',
       'THOMAS BUS', 'ASTON MARTIN', 'IC BUS LLC', 'KOVATCH', 'SMART',
       'LAMBORGHINI', 'GREENPOWER MOTOR', 'CRANE CARRIER',
       'BYD COACH AND BUS', 'ALEXANDER DENNIS', 'ROADMASTER',
       'CATERPILLAR', 'ORANGE EV', 'VPG', 'AM GENERAL', 'WESTERN STAR',
       'NORTH AMERICAN', 'SPARTAN', 'MOTOR COACH IND', 'EMERGENCY ONE',
       'LUCID', 'CAPACITY', 'TICO', 'BLUEBIRD', 'VAN HOOL',
       'MAN TRUCK AND BUS CORPORATION', 'CRUISE', 'TROLLEY', 'LODAL',
       'HME', 'ALLIANZ', 'GLOBAL ENVIRONMENTAL'], dtype=object)

In [195]:
df_2023['Duty'].unique()

array(['Light', 'Heavy'], dtype=object)

In [196]:
dfs = [df_2019, df_2020, df_2021, df_2022, df_2023]
combined_df = pd.concat(dfs,ignore_index=True)

In [197]:
combined_df.head()

,Year,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,2019,90000,<2006,Diesel and Diesel Hybrid,WHITE,Heavy,19
1,2019,90000,<2006,Gasoline,CHEVROLET,Light,33
2,2019,90000,<2006,Gasoline,DODGE,Light,11
3,2019,90000,<2006,Gasoline,FORD,Light,28
4,2019,90000,<2006,Gasoline,GMC,Light,19

In [198]:
combined_df.tail()

         Year Zip Code Model Year       Fuel  Make   Duty  Vehicles
1979315  2023    98661       2016  Flex-Fuel  FORD  Light        13
1979316  2023    98661       2017   Gasoline  FORD  Light        11
1979317  2023    98661       2017  Flex-Fuel  FORD  Light        28
1979318  2023    98661       2018   Gasoline  FORD  Light        18
1979319  2023    99503       2016   Gasoline  FORD  Light        24

In [199]:
file_path = 'cleaned_combined_fuel_types.csv'
combined_df.to_csv(file_path, index=False)

# Creating Database

In [200]:
# File paths
csv_file1 = 'Resources\California_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv'
csv_file2 = 'Resources\Chargers_California_new.csv'
csv_file3 = 'Resources\cleaned_combined_fuel_types.csv'

# Read CSV files into pandas DataFrames
df1 = pd.read_csv(csv_file1)
df2 = pd.read_csv(csv_file2)
df3 = pd.read_csv(csv_file3)

# Display the first few rows of each DataFrame
print("DataFrame 1:")
print(df1.head())

print("\nDataFrame 2:")
print(df2.head())

print("DataFrame 3:")
print(df3.head())

DataFrame 1:
   Year  Gasoline All Grades  Diesel  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0  2023                4.879   5.357         NaN         NaN         NaN
1  2022                5.406   6.028         NaN         NaN         NaN
2  2021                4.100   4.164         NaN         NaN         NaN
3  2020                3.132   3.377         NaN         NaN         NaN
4  2019                3.677   3.920         NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11
0         NaN         NaN         NaN         NaN          NaN          NaN
1         NaN         NaN         NaN         NaN          NaN          NaN
2         NaN         NaN         NaN         NaN          NaN          NaN
3         NaN         NaN         NaN         NaN          NaN          NaN
4         NaN         NaN         NaN         NaN          NaN          NaN

DataFrame 2:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date Unnamed: 9                          Unnamed: 10 Unnamed: 11  \
0  9/1/2023        big                                 1500         NaN
1  9/1/2023     small'                                  NaN         NaN
2  9/1/2023     small'                                  NaN         NaN
3  9/1/2023     small'  find all total chargers for alameda         NaN
4  9/1/2023     small'                              Alameda  total cars

  Unnamed: 12  Unnamed: 13 Unnamed: 14 Unnamed: 15  Unnamed: 16  Unnamed: 17
0         NaN          NaN         NaN         NaN          NaN          NaN
1         NaN          NaN         NaN     Alameda          4.0         72.0
2         NaN          NaN         NaN      Alpine          0.0          0.0
3         NaN          NaN         NaN      Amador          0.0          0.0
4       51881          NaN      sumifs       Butte          6.0          0.0
DataFrame 3:
   Year  Zip Code Model Year                      Fuel       Make   Duty  \
0  2019     90000      <2006  Diesel and Diesel Hybrid      WHITE  Heavy
1  2019     90000      <2006                  Gasoline  CHEVROLET  Light
2  2019     90000      <2006                  Gasoline      DODGE  Light
3  2019     90000      <2006                  Gasoline       FORD  Light
4  2019     90000      <2006                  Gasoline        GMC  Light

   Vehicles
0        19
1        33
2        11
3        28
4        19

C:\Users\ourfa\AppData\Local\Temp\ipykernel_21952\58687873.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(csv_file3)

In [201]:
# Read CSV file into a pandas DataFrame (assuming df2 is already loaded)
df2 = pd.read_csv(csv_file2)

# Drop unnamed columns
df2 = df2.loc[:, ~df2.columns.str.contains('^Unnamed')]

# Drop rows with null values
df2 = df2.dropna()

# Display the first few rows of the DataFrame after dropping
print("DataFrame 2 after dropping unnamed columns and rows with null values:")
print(df2.head())

DataFrame 2 after dropping unnamed columns and rows with null values:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date
0  9/1/2023
1  9/1/2023
2  9/1/2023
3  9/1/2023
4  9/1/2023

In [202]:
df1 = pd.read_csv(csv_file1)


df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]

# Drop rows with null values
df1 = df1.dropna()


print("DataFrame 1 after dropping unnamed columns and rows with null values:")
print(df1.head())

DataFrame 1 after dropping unnamed columns and rows with null values:
   Year  Gasoline All Grades  Diesel
0  2023                4.879   5.357
1  2022                5.406   6.028
2  2021                4.100   4.164
3  2020                3.132   3.377
4  2019                3.677   3.920

In [203]:
print("DataFrame 1:")
print(df1.head())

print("\nDataFrame 2:")
print(df2.head())

print("DataFrame 3:")
print(df3.head())

DataFrame 1:
   Year  Gasoline All Grades  Diesel
0  2023                4.879   5.357
1  2022                5.406   6.028
2  2021                4.100   4.164
3  2020                3.132   3.377
4  2019                3.677   3.920

DataFrame 2:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date
0  9/1/2023
1  9/1/2023
2  9/1/2023
3  9/1/2023
4  9/1/2023
DataFrame 3:
   Year  Zip Code Model Year                      Fuel       Make   Duty  \
0  2019     90000      <2006  Diesel and Diesel Hybrid      WHITE  Heavy
1  2019     90000      <2006                  Gasoline  CHEVROLET  Light
2  2019     90000      <2006                  Gasoline      DODGE  Light
3  2019     90000      <2006                  Gasoline       FORD  Light
4  2019     90000      <2006                  Gasoline        GMC  Light

   Vehicles
0        19
1        33
2        11
3        28
4        19

In [204]:
# Print the DataFrames
print("DataFrame 1:")
print(df1.head())

print("\nDataFrame 2:")
print(df2.head())

print("DataFrame 3:")
print(df3.head())


conn = sqlite3.connect(':memory:')


df1.to_sql('table1', conn, if_exists='replace', index=False)
df2.to_sql('table2', conn, if_exists='replace', index=False)
df3.to_sql('table3', conn, if_exists='replace', index=False)

# Save the database to a file
with sqlite3.connect('my_database.db') as file_conn:
    conn.backup(file_conn)

print("Database stored in 'my_database.db' successfully.")

DataFrame 1:
   Year  Gasoline All Grades  Diesel
0  2023                4.879   5.357
1  2022                5.406   6.028
2  2021                4.100   4.164
3  2020                3.132   3.377
4  2019                3.677   3.920

DataFrame 2:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date
0  9/1/2023
1  9/1/2023
2  9/1/2023
3  9/1/2023
4  9/1/2023
DataFrame 3:
   Year  Zip Code Model Year                      Fuel       Make   Duty  \
0  2019     90000      <2006  Diesel and Diesel Hybrid      WHITE  Heavy
1  2019     90000      <2006                  Gasoline  CHEVROLET  Light
2  2019     90000      <2006                  Gasoline      DODGE  Light
3  2019     90000      <2006                  Gasoline       FORD  Light
4  2019     90000      <2006                  Gasoline        GMC  Light

   Vehicles
0        19
1        33
2        11
3        28
4        19
Database stored in 'my_database.db' successfully.

In [205]:
conn = sqlite3.connect('my_database.db')


query = "SELECT * FROM table1;"


result_df = pd.read_sql_query(query, conn)

print("\nResult of SQL query:")
print(result_df.head())


conn.close()

Result of SQL query:
   Year  Gasoline All Grades  Diesel
0  2023                4.879   5.357
1  2022                5.406   6.028
2  2021                4.100   4.164
3  2020                3.132   3.377
4  2019                3.677   3.920

In [206]:
conn = sqlite3.connect('my_database.db')


query = "SELECT * FROM table2;"


result_df = pd.read_sql_query(query, conn)

print("\nResult of SQL query:")
print(result_df.head())


conn.close()

Result of SQL query:
      County  Public Level 1  Shared Private Level 1  Public Level 2  \
0    Alameda               4                      72            1625
1     Alpine               0                       0              10
2     Amador               0                       0              26
3      Butte               6                       0              63
4  Calaveras               0                       2               9

   Shared Private Level 2  Public DC Fast  Shared Private DC Fast  Total  \
0                    2488             398                      37   4624
1                       0               0                       0     10
2                       0               8                       0     34
3                      55              25                       0    149
4                       0              12                       0     23

       Date
0  9/1/2023
1  9/1/2023
2  9/1/2023
3  9/1/2023
4  9/1/2023

In [9]:
conn = sqlite3.connect('my_database.db')


query = "SELECT * FROM table3;"


result_df = pd.read_sql_query(query, conn)

print("\nResult of SQL query:")
print(result_df.head())


conn.close()

Result of SQL query:
   Year  Zip Code Model Year                      Fuel       Make   Duty  \
0  2019     90000      <2006  Diesel and Diesel Hybrid      WHITE  Heavy
1  2019     90000      <2006                  Gasoline  CHEVROLET  Light
2  2019     90000      <2006                  Gasoline      DODGE  Light
3  2019     90000      <2006                  Gasoline       FORD  Light
4  2019     90000      <2006                  Gasoline        GMC  Light

   Vehicles
0        19
1        33
2        11
3        28
4        19